/* Estilo para un contenedor de elementos al principio de la página */
.Ingresar-contenedor-centrado-primario {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
}

/* Estilo para un contenedor de elementos al final de la página */
.Ingresar-contenedor-centrado-secundario {
    /* Para establecer su posición basado en la resolución */
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Estilo para la imagen en la pagina */
.Ingresar-imagen {
    max-width: 150px;
    /* Para mantener la relación de aspecto */
    height: auto;
    margin-bottom: 2%;
}

/* Estilo para el contenedor con parejas de label y caja de texto */
.Ingresar-contenedor-caja-de-texto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1%;
}
    /* Estilo para los label que acompañan las cajas de texto */
    .Ingresar-contenedor-caja-de-texto label {
        font-size: 18px;
        white-space: nowrap;
        margin-right: 40px;
    }

    /* Estilo para las cajas de texto */
    .Ingresar-contenedor-caja-de-texto input {
        background-color: #FFFBF8;
        border-color: black;
        border-radius: 10px;
        border-width: 1px;
        padding: 1px 10px;
        width: 240px;
    }

/* Estilo para los botones básicos */
.Ingresar-boton-basico {
    background-color: #d9996b;
    color: black;
    width: 240px;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

    /* Cambiar el comportamiento del botón para hover */
    .Ingresar-boton-basico:hover {
        color: black;
    }

/* Estilo para el botón de registro */
.Ingresar-boton-registro {
    background-color: #dcb794;
    color: black;
    width: 240px;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

    /* Estilo para el botón de registro */
    .Ingresar-boton-registro:hover {
        color: black;
    }

/* Estilo para textos y mensajes */
.Ingresar-texto {
    font-size: 13px;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

/* Estilo para mensajes de error */
.Ingresar-texto-error {
    color: red;
    font-size: 9.2px;
    white-space: nowrap;
    text-decoration: none;
    margin-bottom: 0.5%;
}
