/* Contenedor de fila */
.Favoritos-contenedor-fila {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1px;
    width: 100%;
    height: 100%;
}

/* Tabla */
.Favoritos-tabla {
    width: 100%;
    max-width: 100%;
    margin-left: 15px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: unset;
}

/* Tabla de resultados */
.Favoritos-tabla-resultados {
    width: 100%;
    box-sizing: border-box;
    margin-left: 15px;
    overflow-y: auto;
    overflow-x: unset;
}

/* Tabla */
table {
    border-collapse: separate;
    width: 100%;
    max-width: 97%;
    border-spacing: 0 10px;
    font-size: 15px;
}
    /* Thead th */
    table thead th {
        background-color: white;
        text-align: left;
        border: none;
    }

    /* Tbody td */
    table tbody td {
        background-color: #1A7254;
        cursor: pointer;
        text-align: left;
        padding-top: 1px;
        padding-bottom: 1px;
        border: none;
        position: relative;
    }
        /* Tbody td ultimo */
        table tbody td:last-child {
            border-radius: 0 15px 15px 0;
        }

        /* Tbody td primero */
        table tbody td:first-child {
            border-radius: 15px 0 0 15px;
        }

    /* Tbody fila */
    table tbody tr {
        color: white;
        height: 30px;
    }

/* Características de hover */
table td:not(.no-hover):hover::before {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    background-color: #4E7366;
    color: white;
    padding: 5px;
    border-radius: 4px;
    top: -80%;
    left: 35%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
}

table td::before {
    content: "";
}

/* Contenido de la celda de tienda */
.contenidoCeldaTienda {
    padding-left: 10px;
    max-width: 120px;
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Contenido de la celda de provincia */
.contenidoCeldaProvincia {
    padding-left: 20px;
    min-width: 108px;
    max-width: 108px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Contenido de la celda de cantón */
.contenidoCeldaCanton {
    padding-left: 30px;
    min-width: 170px;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Contenido de la celda de cantidad encontrada */
.contenidoCeldaCantidad {
    padding-left: 20px;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Contenido de la celda de precio total */
.contenidoCeldaPrecio {
    text-align: right;
    min-width: 170px;
    max-width: 170px;
    direction: rtl;
    padding-right: 90px;
    margin-right:-50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Contenido de la celda de distancia total */
.contenidoCeldaDistancia {
    text-align: right;
    min-width: 110px;
    max-width: 110px;
    padding-right: 10px;
    direction: rtl;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Paginacion */

/* Contenedor de paginacion */
.Favoritos-contenedor-paginacion {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor de caja de paginacion */
.Favoritos-contenedor-caja-paginacion {
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
    position: relative;
}

/* Boton de paginacion */
.Favoritos-boton-paginacion {
    width: 60px;
    height: 20px;
    color: black;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    white-space: nowrap;
    margin: 0;
    position: relative;
    padding-left: 6px;
    text-decoration: underline;
    cursor: pointer;
}

    /* Botón de paginacion al hacer hover */
    .Favoritos-boton-paginacion:hover {
        color: blue;
        text-decoration: underline;
    }

    /* Bordes de boton de paginacion */
    .Favoritos-boton-paginacion::before {
        content: "";
        position: absolute;
        top: -25%;
        left: -9%;
        right: -9%;
        bottom: -25%;
        border: 1.5px solid black;
        border-radius: 50px;
    }

/* Boton de paginacion deshabilitado */
.Favoritos-boton-paginacion-deshabilitado {
    width: 60px;
    height: 20px;
    color: grey;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    white-space: nowrap;
    margin: 0;
    position: relative;
    padding-left: 6px;
}

    /* Bordes de boton de paginacion deshabilitado */
    .Favoritos-boton-paginacion-deshabilitado::before {
        content: "";
        position: absolute;
        top: -25%;
        left: -9%;
        right: -9%;
        bottom: -25%;
        border: 1.5px solid black;
        border-radius: 50px;
    }


/* Texto en paginacion */
.Favoritos-texto-paginacion {
    margin: 0 10px;
}

/* Numero de paginacion seleccionable */
.pagina-seleccionable {
    color: black;
    text-decoration: none;
}

    /* Hover para numero de paginacion seleccionable */
    .pagina-seleccionable:hover {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }

/* Numero de paginacion actual */
.pagina {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

    /* Hover para numero de paginacion seleccionable */
    .pagina:hover {
        cursor: auto;
        color: black;
        text-decoration: none;
    }

/* Contenedor para el gif y un mensaje */
.Favoritos-contenedor-gif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

/* Gif */
.Favoritos-gif {
    max-width: 90%;
    height: auto;
}

/* Estilo para el texto en la página */
.Favoritos-texto {
    color: black;
    font-size: 30px;
    text-align: center;
    max-width: 100%;
}

/* Flechas de ordenamiento */
.Favoritos-FlechaOrdenamiento {
    cursor: pointer;
    clip-path: polygon(10% 20%, 90% 20%, 90% 80%, 10% 80%);
    vertical-align: middle;
    position: absolute;
}

/* Ordenamientos */

/* Titulo presionable para ordenamiento */
.Favoritos-titulo-columna {
    color: black;
    text-decoration: underline;
}

    /* Hover para titulo de ordenamiento */
    .Favoritos-titulo-columna:hover {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
