/* Contenedor */
.BusquedaIndice-contenedor {
    margin-bottom: 5px;
    width: 100%;
    max-width: 1600px;
}

/* Contenedor de formulario */
.BusquedaIndice-contenedor-form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background-color: rgba(3, 63, 99, 0.15);
    border-radius: 5px;
    padding: 10px;
    width: 91%;
}

/* Contenedor de objetos en fila */
.BusquedaIndice-contenedor-fila {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    width: 100%;
}

/* Contenedor de caja de texto */
.BusquedaIndice-contenedor-caja-texto {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 90%;
}

/* Caja de texto */
.BusquedaIndice-caja-texto {
    background-color: #FFFBF8;
    border-color: black;
    border-radius: 30px;
    padding: 1px 5px;
    width: 70%;
}

/* Contenedor de texto */
.BusquedaIndice-contenedor-texto {
    margin-left: 5px;
    margin-bottom: 3px;
}

/* Boton de busqueda */
.BusquedaIndice-boton-busqueda {
    display: flex;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #033F63;
    color: #033F63;
    align-items: center;
    border-radius: 5px;
    margin-top: 45px;
    margin-left: 10px;
}

/* Icono de busqueda */
.BusquedaIndice-icono-busqueda {
    margin-top: 3px;
    width: 40px;
    height: 40px;
}
