@page
@model LoCoMPro.Pages.Moderacion.Clustering.ResultadoProductosSimilaresModel
@{
    ViewData["Title"] = "Resultado Productos Similares";
}

<head>
    <!-- Título de la pagina -->
    <title>Productos Similares</title>
</head>

<body>
    <label>Test</label>
</body>