<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoCoMPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoCoMPro.styles.css" asp-append-version="true" />
    <!-- Incluir el archivo CSS custom para estilos de la barra de navegación -->
    <link rel="stylesheet" href="~/css/Pages/Shared/_Layout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">LoCoMPro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <!-- Espacio en menú para ir a Agregar Tienda -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AgregarTienda/AgregarTienda">Agregar Tienda</a>
                        </li>
                    </ul>

                    <!-- Lista no ordenada para los elementos alineados a la derecha -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Si hay un usuario ingresado -->
                        @if (User.Identity != null && User.Identity.IsAuthenticated) {
                            <!-- Agregar la ventana parcial de salir y su modelo como elemento de navegación -->
                            <li class="nav-item">
                                @await Html.PartialAsync("/Pages/Cuenta/SalirParcial.cshtml", new LoCoMPro.Pages.Cuenta.ModeloSalirParcial())
                            </li>
                            <!-- Texto presionable que llevará a la ventana del perfil de la cuenta -->
                            <!-- TODO(Los pinwinos): Implementar cuando haya página de perfil -->
                            <!--
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="">Mi perfil</a>
                            </li>
                            -->
                            <!-- Icono de perfil que llevará a la ventana del perfil de la cuenta -->
                            <!-- TODO(Los pinwinos): Imeplementar cuando haya pagina de perfil -->
                            <!--
                            <li class="nav-item">
                                <a class="nav-link" >
                                    <img src="~/img/icono_perfil.png" alt="Profile Image" class="Layout-icono-perfil">
                                </a>
                            </li>
                            -->
                        }
                        else {
                            <!-- Texto presionable que llevá a la ventana de ingresar con una cuenta -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Cuenta/Ingresar">Iniciar sesión</a>
                            </li>
                            <!-- Icono de perfil que lleva a la ventana de ingresar con una cuenta -->
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Cuenta/Ingresar">
                                    <img src="~/img/icono_perfil.png" alt="Icono perfil" class="Layout-icono-perfil">
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LoCoMPro - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>