@page
@model LoCoMPro.Pages.DetallesRegistro.DetallesRegistroModel
@{
    ViewData["Title"] = "Detalles Registro";
}

<!-- Metadatos -->
<head>
    <!-- Titulo de la página -->
    <title>Detalles Registro</title>
    <!-- Incluye su archivo de estilo CSS específico -->
    <link rel="stylesheet" href="~/css/Pages/DetallesRegistro/DetallesRegistro.css" asp-append-version="true" />
    <!-- Incluye archivo para las estrellas utilizadas en la calificación -->
    <link rel="stylesheet" type="text/css" href="~/css/Pages/Shared/starability-growRotate.css" />
</head>

<!-- Cuerpo de la página -->
<body>
    <div class="Contenedor-central">
        <!-- Contenedor para una fila -->
        <div class="Contenedor-fila" style="margin-left:5%;">
            <div class="Contenedor-columna">
                <span class="Etiqueta">Producto:</span>
                <span class="Etiqueta">Precio:</span>
                <span class="Etiqueta">Unidad:</span>
                <span class="Etiqueta-final">Descripción:</span>
            </div>
            <div class="Contenedor-columna">
                <div class="Contenedor Caja-texto-larga">
                    <input type="text" class="Caja-texto" id="CajaProducto" name="CajaProducto" disabled>
                </div>
                <div class="Contenedor Caja-texto-larga">
                    <input type="text" class="Caja-texto" id="CajaPrecio" name="CajaPrecio" disabled>
                </div>
                <div class="Contenedor Caja-texto-larga">
                    <input type="text" class="Caja-texto" id="CajaUnidad" name="CajaUnidad" disabled>
                </div>
                <div class="Contenedor Caja-texto-larga">
                    <input type="text" class="Caja-texto-grande" id="CajaDescripcion" name="CajaDescripcion" disabled>
                </div>
            </div>
        </div>
        <div class="Contenedor-fila" style="margin-left:5%;">
            <div class="Contenedor-columna">
                <span class="Etiqueta-calificacion">Calificación:</span>
            </div>
            <div class="Contenedor-columna">
                <div class="Contenedor-imagenes">
                    <img src="~/img/pinwino_no_disponible.png" id="Img" class="Imagen" />
                </div>
                <div class="Contenedor-calificacion">
                    <p class="starability-result" data-rating="5"></p>
                    <p class="Calificacion">5,0 de 5,0</p>
                    <p class="Conteo">(1)</p>
                </div>
            </div>
            
            @* <div class="Contenedor-calificacion" style="margin-right: @(130 - Model.cantidadAportes.ToString().Length * 10)px;">
                <label class="Calificacion-label">Calificación:</label>
                <p class="starability-result" data-rating="@Math.Round(Model.usuario.calificacion)"></p>
                <p class=Calificacion">@Model.usuario.calificacion.ToString("0.0") de 5,0</p>
                <p class="Conteo">(@Model.cantidadAportes)</p>
            </div> *@
        </div>
    </div>
    <div class="Boton">
        <button class="Boton-estandar" type="submit" asp-page-handler="Regresar">Regresar</button>
    </div>
</body>