@page
@model LoCoMPro.Pages.AgregarProducto.AgregarProdModel
@{
    ViewData["Title"] = "Agregar Producto";
}


<head>
    <!-- Titulo de la pagina -->
    <title>Agregar Producto</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
            integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>

    <!-- TODO(Emilia): descomentar -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/Pages/AgregarProducto/Autocomplete.css">

    <link href="jquery-ui.css" rel="stylesheet">
    <!-- Alinear la ventana -->
    <script src="~/js/Pages/alinear.js"></script>
    <!-- Archivo css -->
    <link rel="stylesheet" href="~/css/Pages/AgregarProducto/AgregarProducto.css" asp-append-version="true" />
</head>


<body>
    <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>
    <form method="post" asp-page-handler="Aceptar">
        <!-- Contenedor para el formulario -->
        <div class="AgregarProd-contenedor-central">
            <!-- Agregar Categoría -->
            <div class="AgregarProd-contenedor-texto">
                <label for="ProductoTexto">Categoría:</label>
                <!-- Genera de manera automática los elementos del select -->
                <select asp-for="viewModel.nombreCategoria" id="Categoria" asp-items="Model.opcionesCategoria" class="AgregarProd-caja-texto-combobox"></select>
            </div>
            <!-- Agregar Producto -->
            <div class="AgregarProd-contenedor-texto">
                <label for="ProductoTexto">Producto:</label>
                <input asp-for="viewModel.nombreProducto" type="text" class="AgregarProd-caja-texto-larga" id="Producto">
            </div>
            <!-- Agregar Marca -->
            <div class="AgregarProd-contenedor-texto">
                <label for="MarcaTexto">Marca:</label>
                <input asp-for="viewModel.marcaProducto" type="text" class="AgregarProd-caja-texto-larga" id="Marca">
            </div>
            <!-- Agregar Precio -->
            <div class="AgregarProd-contenedor-texto">
                <label for="PrecioTexto">Precio:</label>
                <input asp-for="viewModel.precio" type="text" class="AgregarProd-caja-texto-larga" id="Precio">
            </div>
            <!-- Agregar Unidad -->
            <div class="AgregarProd-contenedor-texto">
                <label for="UnidadTexto">Unidad:</label>
                <!-- Genera de manera automática los elementos del select -->
                <select asp-for="viewModel.nombreUnidad" id="Unidad" asp-items="Model.opcionesUnidad" class="AgregarProd-caja-texto-combobox"></select>
            </div>
            <!-- Agregar Etiqueta -->
            <div class="AgregarProd-contenedor-texto">
                <label for="EtiquetaTexto">Etiqueta:</label>
                <input asp-for="viewModel.etiqueta" type="text" class="AgregarProd-caja-texto-larga" id="Etiqueta">
            </div>
            <!-- Descripción -->
            <div class="AgregarProd-contenedor-texto">
                <label for="DescripcionTexto">Descripción:</label>
                <input asp-for="viewModel.descripcion" type="text" class="AgregarProd-caja-texto-descripcion" id="Descripcion">
            </div>
            <!-- Botones de aceptar y cancelar -->
            <div class="AgregarProd-contenedor-texto">
                <button class="AgregarProd-boton-estandar" type="submit" asp-page-handler="Cancelar">Cancelar</button>
                <button class="AgregarProd-boton-estandar" type="submit" asp-page-handler="Aceptar" onclick="return validarFormulario();">Aceptar</button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $("#Producto").autocomplete({
            // Obtiene .Json con los datos encontrados
            source: 'Autocompletado'
        });
    </script>
    <script>
        function validarFormulario() {
            // Revisar si el formulario está incompleto
            var productoTexto = document.getElementById('Producto').value;
            var precioTexto = document.getElementById('Precio').value;

            if (!productoTexto || !precioTexto) {
                // Alertar usuario
                alert("Favor completar los datos del categoría, producto, precio y unidad.");
                return false; // No entregar el formulario
            }
            return true; // Enviar el formulario para procesarse
        }
    </script>
    <script>
        // Mostrar el mensaje de error si está presente
        var errorMessage = "@ViewData["ErrorMessage"]";
        if (errorMessage) {
            document.getElementById("errorMessage").textContent = errorMessage;
            document.getElementById("errorMessage").style.display = "block";
        }
    </script>
    <script>
        // Función de alineado para las cajas de texto
        alinearContenedoresDeBarrasDeTexto(".AgregarProd-contenedor-texto", 112);
    </script>

    <script>
        // Captura el evento cuando el usuario sale del campo de Producto
        $("#Producto").on("blur", function () {
            var productoIngresado = $(this).val();
            console.log("Producto ingresado: " + productoIngresado);
        });
    </script>
</body>