@page
@model LoCoMPro.Pages.AgregarProducto.AgregarProdModel
@{
    ViewData["Title"] = "Agregar Producto";
}


<head>
    <!-- Titulo de la pagina -->
    <title>Agregar Producto</title>
    <script src="~/js/Pages/alinear.js"></script>
    <!-- Archivo css -->
    <link rel="stylesheet" href="~/css/Pages/AgregarProducto/AgregarProducto.css" asp-append-version="true" />
</head>


<body>
    <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>
    <form method="post">
        <!-- Contenedor para el formulario -->
        <div class="AgregarProd-contenedor-central">
            <!-- Agregar Categoría -->
            <div class="AgregarProd-contenedor-texto">
                <label for="ProductoTexto">Categoría:</label>
                <!-- Genera de manera automática los elementos del select -->
                <select name="categoría" id="Categoria" asp-items="Model.opcionesCategoria" class="AgregarProd-caja-texto-combobox"></select>
            </div>
            <!-- Agregar Producto -->
            <div class="AgregarProd-contenedor-texto">
                <label for="ProductoTexto">Producto:</label>
                <input type="text" class="AgregarProd-caja-texto-larga" id="Producto" name="Producto">
            </div>
            <!-- Agregar Marca -->
            <div class="AgregarProd-contenedor-texto">
                <label for="MarcaTexto">Marca:</label>
                <input type="text" class="AgregarProd-caja-texto-larga" id="Marca" name="Marca">
            </div>
            <!-- Agregar Precio -->
            <div class="AgregarProd-contenedor-texto">
                <label for="PrecioTexto">Precio:</label>
                <input type="text" class="AgregarProd-caja-texto-larga" id="Precio" name="Precio">
            </div>
            <!-- Agregar Unidad -->
            <div class="AgregarProd-contenedor-texto">
                <label for="UnidadTexto">Unidad:</label>
                <!-- Genera de manera automática los elementos del select -->
                <select name="unidades" id="Unidad" asp-items="Model.opcionesUnidad" class="AgregarProd-caja-texto-combobox"></select>
            </div>
            <!-- Agregar Etiqueta -->
            <div class="AgregarProd-contenedor-texto">
                <label for="EtiquetaTexto">Etiqueta:</label>
                <input type="text" class="AgregarProd-caja-texto-larga" id="Etiqueta" name="Etiqueta">
            </div>
            <!-- Descripción -->
            <div class="AgregarProd-contenedor-texto">
                <label for="DescripcionTexto">Descripción:</label>
                <input type="text" class="AgregarProd-caja-texto-descripcion" id="Descripcion" name="Descripcion">
            </div>
            <!-- Botones de aceptar y cancelar -->
            <div class="AgregarProd-contenedor-texto">
                <button class="AgregarProd-boton-estandar" type="submit" asp-page-handler="Cancelar">Cancelar</button>
                <button class="AgregarProd-boton-estandar" type="submit" asp-page-handler="Aceptar" onclick="return validarFormulario();">Aceptar</button>
            </div>
        </div>
    </form>
    <script>
        function validarFormulario() {
            // Revisar si el formulario está incompleto
            var productoTexto = document.getElementById('Producto').value;
            var precioTexto = document.getElementById('Precio').value;

            if (!productoTexto || !precioTexto) {
                // Alertar usuario
                alert("Favor completar los datos del categoría, producto, precio y unidad.");
                return false; // No entregar el formulario
            }
            return true; // Enviar el formulario para procesarse
        }
    </script>
    <script>
        // Mostrar el mensaje de error si está presente
        var errorMessage = "@ViewData["ErrorMessage"]";
        if (errorMessage) {
            document.getElementById("errorMessage").textContent = errorMessage;
            document.getElementById("errorMessage").style.display = "block";
        }
    </script>
    <script>
        // Función de alineado para las cajas de texto
        alinearContenedoresDeBarrasDeTexto(".AgregarProd-contenedor-texto", 112);
    </script>
</body>