@page
@model LoCoMPro.Pages.AgregarProducto.AgregarProdModel
@{
    ViewData["Title"] = "Agregar Producto";
}


<head>
    <!-- Titulo de la pagina -->
    <title>Agregar Producto</title>
    <!-- Archivo css -->
    <link rel="stylesheet" href="~/css/Pages/AgregarProducto/AgregarProducto.css" asp-append-version="true" />
</head>


<body>
    <form method="post">
        <div class="AgregarProd-contenedor-central">
            <div class="AgregarProd-contenedor-texto">
                <label class="AddP-tituloAgregarProd-titulo">Producto</label>
            </div>
            <div class="AgregarProd-contenedor-texto">
                <label for="TiendaTexto">Tienda:</label>
                <input type="text" class="AgregarProd-caja-texto-estandar" id="Tienda" name="Tienda" s>
               <div class="input-group-append">
                    <button class="AgregarProd-boton-estandar" type="button">Agregar Tienda</button>
                </div>
            </div>
            <div class="AgregarProd-contenedor-texto">
                <label for="ProductoTexto">Producto:</label>
                <input type="text" class="AgregarProd-caja-texto-estandar" id="Producto" name="Producto">
                <div class="input-group-append">
                    <button class="AgregarProd-boton-estandar" type="button">Agregar Producto</button>
                </div>
            </div>
            <div class="AgregarProd-contenedor-texto">
                <label for="PrecioTexto">Precio:</label>
                <input type="text" class="AgregarProd-caja-texto-precio" id="Precio" name="Precio">
                <div class="input-group-append">
                    <span class="AgregarProd-texto"> colones por </span>
                    <input type="text" class="AgregarProd-caja-texto-unidad" id="Unidad" name="Unidad">
                </div>
            </div>
            <div class="AgregarProd-contenedor-texto">
                <button type="button" class="AgregarProd-boton-imagen">Agregar Imagen</button>
            </div>
            <div class="AgregarProd-contenedor-texto">
                <label for="EtiquetaTexto">Etiqueta:</label>
                <input type="text" class="AgregarProd-caja-texto-etiqueta" id="Etiqueta" name="Etiqueta">
            </div>
            <div class="AgregarProd-contenedor-texto">
                <label for="DescripcionTexto">Descripcion:</label>
                <input type="text" class="AgregarProd-caja-texto-descripcion" id="Descripcion" name="Descripcion">
            </div>
        </div>
    </form>
</body>