@page "{handler?}"
@model LoCoMPro.Pages.Busqueda.BusquedaAvanzadaModel
@{
    ViewData["Title"] = "Busqueda";
}

<!-- Metadatos -->
<head>
    <!-- Enlace al archivo CSS con los estilos de la página -->
    <!-- El valor true hace que la versión se agregue a la URL -->
    <link rel="stylesheet" href="~/css/Pages/Busqueda/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Busqueda/Avanzada.css" asp-append-version="true" />
    <script src="~/js/Pages/Busqueda/filtrador.js"></script>
    <script src="~/js/Pages/Busqueda/ordenador.js"></script>
    <script src="~/js/Pages/Busqueda/paginador.js"></script>
    <script>

        // Función de traducción de codificación
        function traducirCodificacion(cadena) {
            var elementoTemporal = document.createElement("div");
            elementoTemporal.innerHTML = cadena;
            return elementoTemporal.textContent;
        }

        // Obtener resultados de busqueda principal
        function obtenerResultados() {
            var resultadosDecodificados = traducirCodificacion('@Model.resultadosBusqueda')
            return JSON.parse(resultadosDecodificados);
        }

        // Cliente
        var resultados = obtenerResultados();
        var filtrador = new FiltradorDeBusqueda();
        var ordenador = new OrdenadorDeBusqueda();;
        var paginador = new Paginador(@Model.resultadosPorPagina);
        var paginaDefault = @Model.paginaDefault;

    </script>
    <script src="~/js/Pages/Busqueda/cliente.js"></script>
</head>

<div>
    <div class="BusquedaIndice-contenedor-fila">
        <div class="BusquedaIndice-contenedor">
            <form class="BusquedaIndice-contenedor-form" method="get" asp-page-handler="BuscarAvanzado">
                <div class="BusquedaIndice-contenedor-fila">
                    <div style="width:85%;">
                        <div class="BusquedaIndice-contenedor-fila">
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Producto
                                </div>
                                <div class="BusquedaAvanzada-caja-texto">
                                    <!-- Cuadro de texto para el nombre del producto -->
                                    <input type="text" name="nombreProducto" asp-for="producto" id="CajaDeTextoProducto" autocomplete="off">
                                </div>
                            </div>
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Marca
                                </div>
                                <div class="BusquedaAvanzada-caja-texto">
                                    <!-- Cuadro de texto para el nombre de la marca -->
                                    <input type="text" name="nombreMarca" asp-for="marca" id="CajaDeTextoMarca" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="BusquedaIndice-contenedor-fila">
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Provincia
                                </div>
                                <div class="BusquedaAvanzada-caja-texto">
                                    <!-- Cuadro de texto para el nombre del producto -->
                                    <input type="text" name="nombreProvincia" asp-for="provincia" id="CajaDeTextoProvincia" autocomplete="off">
                                </div>
                            </div>
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Cantón
                                </div>
                                <div class="BusquedaAvanzada-caja-texto">
                                    <!-- Cuadro de texto para el nombre del producto -->
                                    <input type="text" name="nombreCanton" asp-for="canton" id="CajaDeTextoCanton" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botón de búsqueda -->
                    <button class="BusquedaAvanzada-boton-busqueda" onclick="return validarFormulario();">
                        <!-- Icono de búsqueda -->
                        <img src="~/img/white_search_icon.png" id="imagenBusqueda" alt="Buscar" class="BusquedaIndice-icono-busqueda" />
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="BusquedaIndice-contenedor-fila">
        <form class="BusquedaIndice-filtros">
            <!-- Botones de filtros -->
            <button type="button" class="BusquedaIndice-boton-filtros" onclick="aplicarFiltros()"> Aplicar filtros</button>
            <button type="button" class="BusquedaIndice-boton-filtros" onclick="limpiarFiltros()" style="margin-bottom:5px;"> Limpiar filtros</button>
            <div class="BusquedaIndice-contenedor-filtros" id="ContenedorFiltros">
                <div class="BusquedaIndice-dropdown" onmouseenter="showdropdown(1)" onmouseleave="hidedropdown(1)">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro1">Provincia</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro1">
                        
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown" onmouseenter="showdropdown(2)" onmouseleave="hidedropdown(2)">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro2">Cantón</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro2">
                        
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown" onmouseenter="showdropdown(3)" onmouseleave="hidedropdown(3)">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro3">Tienda</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro3">
                        
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown" onmouseenter="showdropdown(4)" onmouseleave="hidedropdown(4)">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro4">Marca</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro4">
                        
                    </div>
                </div>
            </div>
        </form>
        <!-- Tabla de resultados -->
        <div class="BusquedaIndice-tabla">
            <table>
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="BusquedaIndice-tabla-resultados" id="productosVM">
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="BusquedaIndice-contenedor-paginacion">
    <div class="BusquedaIndice-contenedor-caja-paginacion">
    </div>
</div>

<script>
    var productosVM = paginar(paginaDefault);

    // Renderizar
    renderizarPaginacion();
    renderizarTabla(productosVM);

    // Validar formulario
    function validarFormulario() {
        if (!cajaProducto.value) {
            return false;
        } else {
            return true;
        }
    }


</script>
<script src="~/js/Pages/Busqueda/dropdown.js"></script>