@page
@model LoCoMPro.Pages.Busqueda.IndexModel
@{
    ViewData["Title"] = "Index";
}

<!-- Metadata -->
<head>
    <!-- Link to the CSS file with the styles of the page -->
    <!-- The true makes the version be appended to the URL -->
    <link rel="stylesheet" href="~/css/Pages/Busqueda/Index.css" asp-append-version="true" />
</head>

<div>
    <div class="BusquedaIndice-contenedor-fila">
        <div class="BusquedaIndice-contenedor">
            <form class="BusquedaIndice-contenedor-form" method="get">
                <div class="BusquedaIndice-contenedor-fila">
                    <div style="width:85%;">
                        <div class="BusquedaIndice-contenedor-fila">
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Producto
                                </div>
                                <div class="BusquedaIndice-contenedor">
                                     <input type="text" id="CajaDeTextoProducto" class="BusquedaIndice-caja-texto" placeholder="Producto" autocomplete="off">
                                </div>
                            </div>
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Marca
                                </div>
                                <div class="BusquedaIndice-contenedor">
                                    <input type="text" id="CajaDeTextoMarca" class="BusquedaIndice-caja-texto" placeholder="Marca" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="BusquedaIndice-contenedor-fila">
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Categoría
                                </div>
                                <div class="BusquedaIndice-contenedor">
                                    <input type="text" id="CajaDeTextoCategoria" class="BusquedaIndice-caja-texto" placeholder="Categoría" autocomplete="off">
                                </div>
                            </div>
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Provincia, Cantón
                                </div>
                                <div class="BusquedaIndice-contenedor">
                                    <!-- Cuadro de texto para provincia y cantón -->
                                    <input type="text" id="CajaDeTextoProvinciaCanton" class="BusquedaIndice-caja-texto" placeholder="Provincia, Cantón" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botón de búsqueda -->
                    <button class="BusquedaIndice-boton-busqueda">
                        <!-- Icono de búsqueda -->
                        <img src="~/img/white_search_icon.png" id="imagenBusqueda" alt="Buscar" class="BusquedaIndice-icono-busqueda" />
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>