@page "{handler?}"

<!-- Página que sigue al modelo BusquedaAvanzada -->
@model LoCoMPro.Pages.Home.AvanzadaModel

<!-- Código C# -->
@{
    ViewData["Title"] = "Home Búsqueda Avanzada";
}

<!-- Metadatos -->
<head>
    <title>Home Búsqueda Avanzada</title>
    <!-- Enlace a la biblioteca JavaScript Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Incluye su archivo de estilo CSS específico -->
    <link rel="stylesheet" href="~/css/Pages/Home/BusquedaAvanzada.css" asp-append-version="true" />
    <!-- Carga la biblioteca JavaScript Leaflet -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" asp-append-version="true"></script>
    <!-- Inclusiones para autocompletado -->
    <script src="~/js/jquery/external/jquery/jquery.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/jquery/jquery-ui.min.js" type="text/javascript" asp-append-version="true"></script>
    <link href="~/js/jquery/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Pages/AgregarProducto/Autocomplete.css">
</head>
<!-- Contenido de la página -->
<body>
    <!-- Contenedor para los elementos centrados -->
    <form class="HomeAvanzada-contenedor-centrado" method="get" asp-page-handler="Buscar">
        <!-- Mapa interactivo -->
        <div id="map" class="HomeAvanzada-mapa"></div>
        <!-- Contenedor para los elementos del formulario -->
        <div class="HomeAvanzada-contenedor-form">
            <!-- Combobox de Provincia -->
            <div class="HomeAvanzada-contenedor-caja-texto">
                <div class="HomeAvanzada-contenedor-fila">
                    <label for="CajaDeSeleccionProvincia" style="margin-right:15px;">Provincia:</label>
                    <select asp-for="provincia" id="CajaDeSeleccionProvincia" class="HomeAvanzada-caja-texto HomeAvanzada-caja-combo">
                        @foreach (var option in Model.provincias!.Select(provincia => new SelectListItem { Value = provincia.nombre, Text = provincia.nombre }))
                        {
                            <option value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
            <!-- Combobox de Cantón -->
            <div class="HomeAvanzada-contenedor-caja-texto">
                <div class="HomeAvanzada-contenedor-fila">
                    <label for="CajaDeSeleccionCanton" style="margin-right:15px;">Cantón:</label>
                    <select asp-for="canton" id="CajaDeSeleccionCanton" class="HomeAvanzada-caja-texto HomeAvanzada-caja-combo">
                    </select>
                </div>
            </div>
            <!-- Botón de búsqueda -->
            <button type="button" class="HomeAvanzada-boton-localizacion" id="BotonBusqueda">
                <img src="~/img/white_search_icon.png" id="Boton" alt="Icono de Búsqueda Blanco" class="HomeAvanzada-icono-busqueda" />
            </button>
        </div>
        <input type="hidden" id="CajaTextoLongitud" />
        <input type="hidden" id="CajaTextoLatitud" />
        <div class="HomeAvanzada-contenedor-fila" style="margin-left:5%;">
            <div class="HomeAvanzada-contenedor-columna" style="margin-top:10px;">
                <span class="HomeAvanzada-etiqueta">Producto:</span>
                <span class="HomeAvanzada-etiqueta">Marca:</span>
            </div>
            <div class="HomeAvanzada-contenedor-columna HomeAvanzada-caja-texto-larga">
                <div class="HomeAvanzada-contenedor-caja-texto HomeAvanzada-caja-texto-larga">
                    <input type="text" asp-for="producto" id="CajaTextoProducto" class="HomeAvanzada-caja-texto">
                </div>
                <div class="HomeAvanzada-contenedor-caja-texto HomeAvanzada-caja-texto-larga">
                    <input type="text" asp-for="marca" id="CajaTextoMarca" class="HomeAvanzada-caja-texto">
                </div>
            </div>
        </div>
        <!-- Botón de aceptar -->
        <button asp-page-handler="Buscar" class="HomeAvanzada-boton-aceptar"> Buscar </button>
    </form>

    <!-- Función para autocompletar -->
    <script type="text/javascript">
        $("#CajaTextoMarca").autocomplete({
            // Obtiene .Json de la ventana
            source: 'Autocompletado'
        });
    </script>

</body>

@section Scripts {
    <script>
        // Longitud y latitud del usuario
        const longitud = @Model.longitudUsuario;
        const latitud = @Model.latitudUsuario;
    </script>

    <script>
        // Obtiene las cajas de selección
        const cajaDeSeleccionProvincia = document.getElementById("CajaDeSeleccionProvincia");
        const cajaDeSeleccionCanton = document.getElementById("CajaDeSeleccionCanton");

        // Actualizar cantones
        async function actualizarCantones() {
            // Obtener la provincia seleccionada
            var provinciaSeleccionada = cajaDeSeleccionProvincia.value;

            // Limpiar
            cajaDeSeleccionCanton.innerHTML = "";

            // Si se eligió una provincia
            if (provinciaSeleccionada) {
                // Usar el Fetch API para llamar al handler de CantonesPorProvincia
                await fetch(`/Home/Avanzada?handler=CantonesPorProvincia&provincia=${provinciaSeleccionada}`)
                    .then(response => response.json())
                    .then(data => {
                        // Por cada cantón
                        data.forEach(canton => {
                            // Crear una opción
                            var opcion = document.createElement("option");
                            // Establecer su valor y texto de mostrado
                            opcion.value = canton.nombre;
                            opcion.text = canton.nombre;
                            // Agregarla a la caja de selección de cantón
                            cajaDeSeleccionCanton.appendChild(opcion);
                        });
                    });
            }

        }

        // Llamar a esta función cada vez que se produzca un cambio en
        // la caja de selección de provincia
        cajaDeSeleccionProvincia.addEventListener("change", async function () {
            // Actualizar cantones
            await actualizarCantones();
        });


        // Obtener provincias disponibles
        function obtenerProvinciasDisponibles() {
            // Opciones
            const opciones = cajaDeSeleccionProvincia.options;
            var provincias = [];
            // Iterar
            for (let i = 0; i < opciones.length; i++) {
                // Agregar
                provincias.push(opciones[i].value);
            }
            // Retornar
            return provincias;
        }

        // Obtener cantones disponibles
        function obtenerCantonesDisponibles() {
            // Opciones
            const opciones = cajaDeSeleccionCanton.options;
            var cantones = [];
            // Iterar
            for (let i = 0; i < opciones.length; i++) {
                // Agregar
                cantones.push(opciones[i].value);
            }
            // Retornar
            return cantones;
        }
    </script>

    <!-- Carga el archivo JavaScript en esta ruta -->
    <script src="~/js/Pages/Busqueda/mapaAvanzada.js" asp-append-version="true"></script>
}