/* Contenedor para centrar */
.DetallesRegistro-contenedor-central {
    height: calc(90vh - 50px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.DetallesRegistro-contenedor-central__fila {
    padding-top: 10px;
    flex-basis: 50%;
}

DetallesRegistro-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
}
    /* Label usado en contenedor para los botones y el texto */
    .DetallesRegistro-contenedor label {
        font-size: 18px;
        white-space: nowrap;
        margin-inline-end: 60px;
        text-align: right;
        width: 30px;
        display: inline-block;
        margin-right: 15%;
    }

.DetallesRegistro-caja-texto {
    border-color: #033F63;
    border-radius: 30px;
    padding: 1px 5px;
    margin-top: 10px;
    width: 300px;
}

.DetallesRegistro-caja-texto-grande {
    border-color: #033F63;
    border-radius: 30px;
    padding: 1px 5px;
    width: 300px;
    height: 100px;
    margin-top: 10px;
}

.DetallesRegistro-contenedor-imagenes {
}

.DetallesRegistro-imagen {
    border-radius: 30px;
}

.DetallesRegistro-boton-imagenes {
    position: absolute;
    top: 50%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%);
    border: 10px;
    cursor: pointer;
}

.DetallesRegistro-icono-imagenes {
    margin-top: 26%;
    width: 25px;
    height: 50px;
    border: 10px;
    background-color: black;
}

.DetallesRegistro-boton {
}

.DetallesRegistro-boton-estandar {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #033F63;
    color: white;
    width: 150px;
    height: 100%;
    max-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    font: 13px system-ui;
}