@page
@model LoCoMPro.Pages.AgregarTienda.AgregarTiendaModel
@{
    ViewData["Title"] = "Agregar Tienda";
}

<!-- Header -->
<head>
    <!-- Título -->
    <title>Agregar Tienda</title>
    <link rel="stylesheet" href="~/css/Pages/AgregarTienda/AgregarTienda.css" asp-append-version="true"/>
</head>

<!-- Cuerpo de la página -->
<body>
    <form method="post">
        <!-- Contenedor para alineación arriba-derecha -->
        <div class="AgregarTienda-contenedor-arriba-derecha">
            <!-- Fecha -->
            <div class="AgregarTienda-fecha">
                <label for="Fecha">Día/Mes/Año</label>
            </div>
        </div>
        <!-- Contenedor para centrar el formulario -->
        <div class="AgregarTienda-contenedor-central">
            <!-- Nombre de la tienda -->
            <div class="AgregarTienda-contenedor-texto">
                <label for="NombreTexto">Nombre:</label>
                <input type="text" class="AgregarTienda-caja-texto-estandar" id="Nombre" name="Nombre" s>
            </div>
            <!-- Ubicación de la tienda -->
            <div class="AgregarTienda-contenedor-texto">
                <label for="UbicacionTexto">Ubicación:</label>
                <input type="text" class="AgregarTienda-caja-texto-estandar" id="Ubicacion" name="Ubicacion" s>
            </div>
            <!-- Botón para aceptar y para cancelar -->
            <div class="AgregarTienda-contenedor-texto">
                <button class="AgregarTienda-boton-estandar" type="submit" asp-page-handler="Aceptar">Aceptar</button>
                <button class="AgregarTienda-boton-estandar" type="submit" asp-page-handler="Cancelar">Cancelar</button>
            </div>
        </div>
    </form>
</body>