@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}


<!-- Metadatos -->
<head>
    <!-- Titulo de la página -->
    <title>Error</title>
    <!-- Enlace al archivo CSS con los estilos de la página -->
    <!-- El valor true hace que la versión se agregue a la URL -->
    <link rel="stylesheet" href="~/css/Pages/Error.css" asp-append-version="true" />
</head>

<!-- Contenido de la página -->
<body>
    <!-- Contenedor para todos los elementos en la página -->
    <div class="Error-contenedor">
        <!-- Mensaje de error -->
        <h1 class="Error-texto">Error</h1>
        <h2 class="Error-texto" style="margin-bottom: 2%;">Ocurrió un error al procesar su solicitud</h2>

        <!-- Id de la solicitud -->
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>ID de la solicitud:</strong> <code>@Model.RequestId</code>
            </p>
        }

        <!-- Gif del pinwino triste -->
        <img src="~/img/Pinwino_triste.gif" alt="pinwino_triste" class="Error-gif">
    </div>
</body>
