@page
@model LoCoMPro.Pages.Moderacion.EstadisticasUsuariosReportesModel
@{
    ViewData["Title"] = "Aportes";
}

<!-- Metadatos -->
<head>
    <!-- Enlace al archivo CSS con los estilos de la página -->
    <!-- El valor true hace que la versión se agregue a la URL -->
    <link rel="stylesheet" href="~/css/Pages/Moderacion/EstadisticasUsuarios.css" asp-append-version="true" />
    <script src="~/js/Pages/Busqueda/paginador.js" asp-append-version="true"></script>
    <script>

        function adaptarCaracteresEspeciales(cadena) {
            var elementoTemporal = document.createElement("div");
            elementoTemporal.innerHTML = cadena;
            return elementoTemporal.textContent;
        }

        function obtenerResultados() {
            var resultadosAdaptados = adaptarCaracteresEspeciales('@Model.resultadosEstadisticas')
            return JSON.parse(resultadosAdaptados);
        }

        var resultados = obtenerResultados();
        var paginador = new Paginador(5); // El número 5 se refiere al número de registros por página
        var paginaDefault = 1; // Inicia en la página 1 por defecto
    </script>
    <script src="~/js/Pages/Moderacion/clienteEstadisticasUsuarios.js" asp-append-version="true"></script>
</head>
<div>
    <div class="Estadisticas-titulo">
        <h2 id="contenidoTitulo">Usuarios que más reportan</h2>
    </div>
    <div class="Estadisticas-contenedor-fila">
        @if (@Model.cantidadValidos != 0)
        {
            <!-- Tabla de resultados -->
            <div class="Estadisticas-tabla">
                <table>
                    <thead>
                        <tr>
                            <th style="padding-left:10px;" id="tituloUsuario">
                                Nombre de usuario
                            </th>
                            <th style="padding-left:10px;" id="tituloCalificacion">
                                Calificación
                            </th>
                            <th style="padding-left:30px;" id="tituloContribuciones">
                                Contribuciones
                            </th>
                            <th style="padding-left:24px;" id="tituloReportes">
                                Reportes Realizados
                            </th>
                            <th id="tituloAceptados">
                                Reportes aceptados
                            </th>
                        </tr>
                    </thead>
                    <tbody class="Estadisticas-tabla-resultados" id="cuerpoResultados"></tbody>
                </table>
            </div>
        }
        else
        {
            <!-- Contenedor para cuando no hay resultados -->
            <div class="Estadisticas-contenedor-gif">
                <!-- Logotipo de Pinwino -->
                <img src="~/img/Pinwino_triste.gif" alt="Pinwino triste" class="Estadisticas-gif" id="PinwinoTriste">
                <p class="Estadisticas-texto">Ningún usuario califica para la estadística</p>
            </div>
        }

    </div>
</div>

@if (@Model.cantidadValidos != 0)
{
    <!-- Paginación -->
    <div class="Estadisticas-contenedor-paginacion">
        <div class="Estadisticas-contenedor-caja-paginacion">
            <div id="paginaPrevia" class="Estadisticas-boton-paginacion" onclick="pasarPagina(resultadosPaginados.IndicePagina - 1)">
                Anterior
            </div>
            <div id="sinPaginaPrevia" class="Estadisticas-boton-paginacion-deshabilitado">
                Anterior
            </div>

            <span id="textoPaginacion" class="Estadisticas-texto-paginacion">  </span>

            <div id="paginaSiguiente" class="Estadisticas-boton-paginacion" onclick="pasarPagina(resultadosPaginados.IndicePagina + 1)">
                Siguiente
            </div>
            <div id="sinPaginaSiguiente" class="Estadisticas-boton-paginacion-deshabilitado">
                Siguiente
            </div>
        </div>
    </div>
}


<script>
    
    var resultadosPaginados = paginar(paginaDefault);

    // Reenderizar las diferentes páginas necesarias
    renderizarPaginacion();
    renderizarTabla(resultadosPaginados);
    console.log("aca");
    console.log("estoy");
</script>
