@page
@model LoCoMPro.Pages.Moderacion.ProductosSimilares
@{
    ViewData["Title"] = "Productos Similares";
}

<head>
    <!-- Título de la pagina -->
    <title>Productos Similares</title>
</head>

<body>
    <div class="Clustering-tabla">
        <table>
            <caption style="display:none;">Tabla de productos similares</caption>
            <thead>
                <tr>
                    <th>
                        <!-- Columna con el nombre del producto -->
                        Producto con similares
                    </th>
                    <th>
                        <!-- Columna con el nombre de la categoria -->
                        Categoría
                    </th>
                    <th>
                        <!-- Columna con la marca -->
                        Marca
                    </th>
                    <th>
                        <!-- Columna con la unidad -->
                        Unidad
                    </th>
                </tr>
            </thead>
            <tbody class="Favoritos-tabla-resultados" id="CuerpoResultados"></tbody>
        </table>
    </div>
    
</body>